*{
    margin: 0;
    padding: 0;
    background: #535c64;
}
.menuButton{
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.menuButton:hover{
    background: #009641;
}
.score{
    margin: 15px;
    text-align: center;
    color: #eee;
}

#game{
    /*border-collapse: collapse;*/
    margin: 2% auto 0;
    border: 1px solid #eee;
    border-spacing: 1px;
}
#menu{
    display: flex;
    justify-content: center;
}
td.cell{
    width: 20px;
    height: 20px;
    /*border-collapse: collapse;*/
}
.food{
    background-image: url("donut.png");
    /*background: #32d05f;*/
}
.snakeBody{
    background-image: url("body.png");
   /* background: #e5e5e5;*/
}
.snakeHead{
    background-image: url("Head.png");
   /* background: #9b1d36;*/
}
.disabled {
    background: #7c7c7c;
}
.disabled:hover{
    background: #a3a3a3;
}
.formSettings{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #eee;
}
.wrapper{
    display: block;
    height: auto;
    width: 350px;
    text-align: center;
}
.wrapper label{
    float: left;
}
.wrapper input[type='number']{
    float: right;
    padding: 2px 5px;
    color: #eeeeee;
}
.wrapper input[type='button']{
    width: 168px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.wrapper input[type='button']:hover{
    background: #009641;
}

.speed, .rowsCols, .winScore{
    display: flex;
    margin: 5px;
    height: auto;
    width: auto;
    justify-content: space-between;
    align-content: center;
}